<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Sample Post</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "cleanBootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "cleanBootstrap/css/clean-blog.css" %}" rel="stylesheet">
    <link href="{% static "cleanBootstrap/css/styles.css" %}" rel="stylesheet">
    <link href="{% static "side-bar/css/simple-sidebar.css" %}" rel="stylesheet">
    <link href="{% static "circleiful/jquery.circliful.css" %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <header class="intro-header" style="background-image: url({{ current_header.header_cover }})">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Search</h1>
                        <hr class="small">
                        <span class="subheading">Find a particular review</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <form action="{% url "reviews" %}" method="post">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div id="imaginary_container">
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control" name="search_query" placeholder="Search" >
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="container latest-reviews">
        <div class="row">
            {% if results %}
                {% for result in results %}
                    <div class="col-md-4">
                        <div class="flip-container center-block" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper">
                                <div class="front" style="background-image: url({{ result.meta.game_review_cover }})">
                                </div>
                                <div class="back" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url({{ result.meta.game_review_back_cover }})">
                                    <h1 class="text-center card-heading">{{ result.meta.game_name }}</h1>
                                    <p class="text-center card-subheading">{{ result.meta.game_review_description }}</p>
                                    <br>
                                    <div class="text-center">
                                        <a href="{% url "article" result.meta.game_name %}" type="button" class="btn {{ current_header.theme_choice }}">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% elif err_message %}
                <h1 class="text-center">{{ err_message }}</h1>
            {% else %}
                {% for article in current_articles %}
                    <div class="col-md-4">
                        <div class="flip-container center-block" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper">
                                <div class="front" style="background-image: url({{ article.game_review_cover }})">
                                </div>
                                <div class="back" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url({{ article.game_review_back_cover }})">
                                    <h1 class="text-center card-heading">{{ article.game_name }}</h1>
                                    <p class="text-center card-subheading">{{ article.game_review_description }}</p>
                                    <br>
                                    <div class="text-center">
                                        <a href="{% url "article" article.game_name %}" type="button" class="btn {{ current_header.theme_choice }}">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <footer class="outro-header" style="background-image: url({{ current_header.footer_cover }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright white-text">Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static "cleanBootstrap/js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "cleanBootstrap/js/bootstrap.min.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "circleiful/jquery.circliful.js" %}"></script>

    <script>
        $( document ).ready(function() {
            $('#myStat').circliful();
        });
    </script>

    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>

</html>